<html>
<head>
  <!-- JS (load angular, ui-router, and our custom js file) -->

  <title>Gibberish | Dashboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script src="app/js/app.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>

  <link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '762292237250349',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
</head>
<body>
  <h1>WELCOME! THIS IS the Gibberish Dashboard!!</h1>
  <p>this will be the dashboard page, please login to the other social media apps!</p>

<nav>
  <a class="icon" href="/auth/facebook"><img src="images/facebook.png" alt="Sign-in With Facebook" title="Sign-in With Facebook"/><a>
  <a class="icon" href="/auth/instagram"><img src="images/instagram.png" alt="Sign-in With Instagram" title="Sign-in With Instagram"/><a>
  <a class="icon" href="/auth/twitter"><img src="images/twitter.png" alt="Sign-in With Twitter" title="Sign-in With Twitter"/><a>
  <a class="icon" href="/auth/pinterest"><img src="images/pinterest.png" alt="Sign-in With Pinterest" title="Sign-in With Pinterest"/><a>
  <a class="icon" href="/auth/tumblr"><img src="images/tumblr.png" alt="Sign-in With Tumblr" title="Sign-in With Tumblr"/><a>
</nav>
</body>
</html>
