<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Gibberish | Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="stylesheets/style.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">

	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
	<div class="container">

		<div class="col-sm-6 col-sm-offset-3">
			<img src="images/uggsppr.png" >
			<h1>Post Some Gibberish</h1>
			<a href="/auth/google"><img src="images/sign-in-with-google1.png" alt="Sign-in With Google" title="Sign-in With Google"/><a>

		</div>

	</div>
</body>
</html>
