body{
  background-image: url('http://static.tumblr.com/f549478625aebaaf26ad9cde94401e47/p9h5pno/YGUmntdzf/tumblr_static_grunge_background_texture_9_by_madsin.jpg');
  text-align: center;
}

h1{
  font-family: 'Quicksand', sans-serif;
}

.icon img{
  height: 50px;
  width: 50px;
}
